.board {
  display: grid;
  grid-template-columns: repeat(8, 70px);
  grid-template-rows: repeat(8, 70px);
  margin-top: 20px;
  border: 3px solid #333;
}

.square {
  width: 70px;
  height: 70px;
  position: relative;
  cursor: pointer;
}

.white {
  background: #f0d9b5;
}

.black {
  background: #b58863;
}

.piece {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
